/*====================ПОДКЛЮЧАЕМ ИКОНОЧНЫй ШРИФТ===================================*/
@font-face {
  font-family: 'facebook';
  src: url('font/facebook.eot?7350596');
  src: url('font/facebook.eot?7350596#iefix') format('embedded-opentype'),
       url('font/facebook.woff2?7350596') format('woff2'),
       url('font/facebook.woff?7350596') format('woff'),
       url('font/facebook.ttf?7350596') format('truetype'),
       url('font/facebook.svg?7350596#facebook') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'facebook';
    src: url('../font/facebook.svg?7350596#facebook') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "facebook";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 1.2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 1.2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-guidedog::before {
    content: '\e800';
    transform: scaleX(-3) scaleY(3);
    color: #272C31;
    opacity: 0.8;
    margin-right: 35px;
    margin-top: 25px;
}  '' 

.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
/*=========================СБРОС=========================================*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/*==================МЕДИА==========================================*/
@media screen and (max-width:320px){
.icon-guidedog::before {
    margin-bottom: 10px;
    transform: scaleX(-2) scaleY(2);
    }
.header{
    position: relative;
    }
.icon-menu{
    display: block;
    position: absolute;
    right: 0;
    top: 22px;
    transform: scale(1.5);
    opacity: 0.6;
    cursor: pointer;
    }
.modal_menu{
    position: absolute;
    height: auto;
    right: 0;
    top: 0;
    z-index: 10;
    background: rgba(186,187,191,1);
    border-radius: 8px;
    display: none;
    }
.modal_menu > ul > li{
    width: 100%;
    }
.modal_menu > ul > li > a{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    }
.modal_menu > ul > li > a:hover{
    text-decoration: underline;
    }
.title h1{
    font-size: 20px;
    margin: 4% auto;
    display: flex;
    justify-content: center;
    }
.title p{
    font-size: 12px;
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 35px;
    color: #272c31;
    letter-spacing: 2;
    font-family: 'Poiret One', cursive;
     }
}

@media screen and (min-width:320px) and (max-width:550px){
.icon-guidedog::before {
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scaleX(-2) scaleY(2);
} 
.header{
    position: relative;
}
.icon-menu{
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    transform: scale(2);
    opacity: 0.6;
    cursor: pointer;
}
.modal_menu{
    position: absolute;
    height: auto;
    display:none;
    right: 0;
    top: 0;
    z-index: 10;
    background: rgba(186,187,191,1);
    border-radius: 8px;
}
.modal_menu > ul > li > a{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.modal_menu > ul > li > a:hover{
    text-decoration: underline;
}
.title h1{
    font-size: 25px;
    margin: 4% auto;
    display: flex;
    justify-content: center;
    }
.title p{
    font-size: 15px;
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 35px;
    color: #272c31;
    letter-spacing: 2;
    font-family: 'Poiret One', cursive;
 }
    info_block_text{
    width: 49%;
}
.info_block_text ul li{
    position: relative;
    padding: 30px 0;
    counter-increment: about;
}

.info_block_text li::before{
    content: counter(about, decimal);
    font-family: 'Poiret One', cursive, sans-serif;
    position: absolute;
    display: block;
    color: #fff;
    height: 70%;
    width: 56px;
    left: 0;
    top: 30px;
    text-align: center;
    font-size: 110px;
    color: #96989b;
    font-weight: 100;
}
.info_block_text h2{
    color: #686F72;
    font-size: 30px;
    font-weight: 500;
    margin: 75px 0 0px 80px;
}
.info_block_text h3{
    font: 700 18px/24px "ff-dagny-web-pro-1","ff-dagny-web-pro-2", sans-serif;
    margin-left: 80px;
    margin-bottom: 20px;
}
.info_block_text p{
    margin-left: 80px;
    line-height: 1.6;
}
.info_img a.button{
    margin: 50px 0 20px 0;
    }
.icon-menu{
    transform: scale(1.5);
 }   
.footer_social{
    width: 42%;
    margin: 0 auto;
    padding: 60px 0;
}
.icon-twitter-bird::before,
.icon-globe::before{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 50%;
    background: #D4D5D6;
    color: #fff;
    margin-right: 0;
    margin-left: 0;
    }
}


@media screen and (min-width:550px) and (max-width:645px){
.icon-guidedog::before {
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scaleX(-2) scaleY(2);
} 
.header{
    position: relative;
}
.icon-menu{
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    transform: scale(1.5);
    opacity: 0.6;
    cursor: pointer;
}
.modal_menu{
    position: absolute;
    height: auto;
    right: 0;
    top: 0;
    z-index: 10;
    background: rgba(186,187,191,1);
    border-radius: 8px;
    display: none;
}
.modal_menu > ul > li > a{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}
.modal_menu > ul > li > a:hover{
    text-decoration: underline;
}
.title h1{
    font-size: 40px;
    margin: 4% auto;
    display: flex;
    justify-content: center;
    }
.title p{
    font-size: 15px;
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 35px;
    color: #272c31;
    letter-spacing: 2;
    font-family: 'Poiret One', cursive;
 }
    info_block_text{
    width: 49%;
}
.info_block_text ul li{
    position: relative;
    padding: 30px 0;
    counter-increment: about;
}

.info_block_text li::before{
    content: counter(about, decimal);
    font-family: 'Poiret One', cursive, sans-serif;
    position: absolute;
    display: block;
    color: #fff;
    height: 70%;
    width: 56px;
    left: 0;
    top: 30px;
    text-align: center;
    font-size: 110px;
    color: #96989b;
    font-weight: 100;
}
.info_block_text h2{
    color: #686F72;
    font-size: 30px;
    font-weight: 500;
    margin: 75px 0 0px 80px;
}
.info_block_text h3{
    font: 700 18px/24px "ff-dagny-web-pro-1","ff-dagny-web-pro-2", sans-serif;
    margin-left: 80px;
    margin-bottom: 20px;
}
.info_block_text p{
    margin-left: 80px;
    line-height: 1.6;
}
.info_img a.button{
    margin: 50px 0 20px 0;
    }
.footer_social{
    width: 32%;
    margin: 0 auto;
    padding: 60px 0;
    }
}


@media screen and (min-width:645px) and (max-width:780px){
.icon-guidedog::before {
    margin-top: 15px;
    transform: scaleX(-2) scaleY(2);
} 
.header_menu>li>a{
    font-size: 12px;
    padding: 5px 5px 5px 5px;
}
.icon-menu{
    display: none;
}
.modal_menu_show{
    display: none;
}
.modal_close{
    display: none;
} 
.title h1{
    font-size: 60px;
    margin: 4% auto;
    display: flex;
    justify-content: center;
    }
.title p{
    font-size: 20px;
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 45px;
    color: #272c31;
    letter-spacing: 2;
    font-family: 'Poiret One', cursive;
 }
info_block_text{
    width: 49%;
}
.info_block_text ul li{
    position: relative;
    padding: 30px 0;
    counter-increment: about;
}

.info_block_text li::before{
    content: counter(about, decimal);
    font-family: 'Poiret One', cursive, sans-serif;
    position: absolute;
    display: block;
    color: #fff;
    height: 70%;
    width: 56px;
    left: 0;
    top: 30px;
    text-align: center;
    font-size: 110px;
    color: #96989b;
    font-weight: 100;
}
.info_block_text h2{
    color: #686F72;
    font-size: 30px;
    font-weight: 500;
    margin: 75px 0 0px 80px;
}
.info_block_text h3{
    font: 700 18px/24px "ff-dagny-web-pro-1","ff-dagny-web-pro-2", sans-serif;
    margin-left: 80px;
    margin-bottom: 20px;
}
.info_block_text p{
    margin-left: 80px;
    line-height: 1.6;
}
.info_img a.button{
    margin: 50px 0 20px 0;
    }  
.footer_social{
    width: 30%;
    margin: 0 auto;
    padding: 60px 0;
    }    
}


@media screen and (min-width:780px) and (max-width:980px){
.icon-guidedog::before {
   margin-top: 15px;
   margin-right: 25px;
   transform: scaleX(-2) scaleY(2);
} 
.header_menu>li>a{
   font-size: 14px; 
   padding: 5px 8px 5px 8px;
}
.icon-menu{
    display: none;
}
.modal_menu_show{
    display: none;
}
.modal_close{
    display: none;
}
.title h1{
    font-size: 90px;
    margin: 4% auto;
    display: flex;
    justify-content: center;
    }
.title p{
    font-size: 25px;
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 45px;
    color: #272c31;
    letter-spacing: 2;
    font-family: 'Poiret One', cursive;
    }
.info_text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.post{
    width: 30%;
    margin-bottom: 100px;
    }  
info_block_text{
    width: 49%;
}
.info_block_text ul li{
    position: relative;
    padding: 30px 0;
    counter-increment: about;
}

.info_block_text li::before{
    content: counter(about, decimal);
    font-family: 'Poiret One', cursive, sans-serif;
    position: absolute;
    display: block;
    color: #fff;
    height: 70%;
    width: 56px;
    left: 0;
    top: 30px;
    text-align: center;
    font-size: 110px;
    color: #96989b;
    font-weight: 100;
}
.info_block_text h2{
    color: #686F72;
    font-size: 30px;
    font-weight: 500;
    margin: 75px 0 0px 80px;
}
.info_block_text h3{
    font: 700 18px/24px "ff-dagny-web-pro-1","ff-dagny-web-pro-2", sans-serif;
    margin-left: 80px;
    margin-bottom: 20px;
}
.info_block_text p{
    margin-left: 80px;
    line-height: 1.6;
}
.info_img a.button{
    margin: 50px 0 20px 0;
    }
.footer_social{
    width: 25%;
    margin: 0 auto;
    padding: 60px 0;
    }      
}

@media screen and (min-width:980px){
.wrapper{
   background: #F8F8F8;
    }
.header_menu{
    line-height: 3;
    width: 80%;
    float: left;
    }
.header_menu>li>a{
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    }
.icon-menu{
    display: none;
    }
.modal_menu_show{
       display: none; 
    }
.modal_close{
        display: none;
    }
.title h1{
    font-size: 130px;
    margin: 7% auto;
    display: flex;
    justify-content: center;
    }
.title p{
    font-size: 35px;
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 45px;
    color: #272c31;
    letter-spacing: 2;
    font-family: 'Poiret One', cursive;
}
.info_text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post{
    width: 30%;
    margin-bottom: 100px;
} 
.info_block{
    display: flex;
    justify-content: space-between;
}
.info_img{
    width: 100%;
    background: #E1E3E5;
}
.info_block_img{
    background-image: url(img/notebook-pc.png);
    background-repeat: no-repeat;
    width: 49%;
    height: 600px;
}
.info_block_text{
    width: 49%;
}
.info_block_text ul li{
    position: relative;
    padding: 30px 0;
    counter-increment: about;
}
.icon-guidedog::before{
    margin-top: 20px;
}
.info_block_text li::before{
    content: counter(about, decimal);
    font-family: 'Poiret One', cursive, sans-serif;
    position: absolute;
    display: block;
    color: #fff;
    height: 70%;
    width: 56px;
    left: 0;
    top: 30px;
    text-align: center;
    font-size: 110px;
    color: #96989b;
    font-weight: 100;
}
.info_block_text h2{
    color: #686F72;
    font-size: 30px;
    font-weight: 500;
    margin: 75px 0 0px 80px;
}
.info_block_text h3{
    font: 700 18px/24px "ff-dagny-web-pro-1","ff-dagny-web-pro-2", sans-serif;
    margin-left: 80px;
    margin-bottom: 20px;
}
.info_block_text p{
    margin-left: 80px;
    line-height: 1.6;
}
.info_img a.button{
    margin: 50px 0 20px 0;
    }
.footer_social{
    width: 20%;
    margin: 0 auto;
    padding: 60px 0;
    }     
}
/*============================================================*/
.layout_positioner{
    width: 80%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper_main{
    max-width: 96%;
    background: #BABBBF;
    padding: 25px;
}
.wrapper{
   background: #F8F8F8;
   border-radius: 4px;
   font-family: ff-dagny-web-pro-1,ff-dagny-web-pro-2,Helvetica,Arial,sans-serif;
}

.header{
    width: 100%;
}
.header a{
    float: left;
}
.header_menu{
    line-height: 3;
    font-size: 0px;
    width: 80%;
    float: left;
}
.header_menu>li{
    display: inline-block;
}
.modal_menu>ul>li:first-child{
    margin-top: 20px;
    color: red;
}
.header_menu>li>a{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    font-weight: 500;
}
.header_menu>li>a:hover{
    background: #EAEAEA;
}
/*============МОДАЛЬНОЕ ОКНО===================*/
.modal_menu{
    width: 150px;
    display:none;
}
.modal_menu >ul > li>a{
    border-top: 1px solid #fff;
}
.modal_close::after{
    content: "";
    width: 15px;
    position: absolute;
    right: 5px;
    top: 10px;
    transform: rotate(45deg);
    }
.modal_close::before{
    content: "";
    width: 15px;
    position: absolute;
    right: 5px;
    top: 10px;
    transform: rotate(-45deg);
    }
.modal_show{
        display: block; 
    }   

/*==============CONTENT(SECTION)==============================================*/
.title{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.title::after{
    content: "";
    border-bottom: 2px solid #DDDDDD;
    width: 92%;
    position: absolute;
    margin-left: 4%;
    margin-right: 4px;
}
.title .button,
.info_img .button{
    padding: 15px 20px 15px 20px;
    background: #4093C5;
    display: block;
    width: 180px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 50px auto 30px auto;
}
.title .button:hover,
.info_img .button:hover{
    text-decoration: underline;
    opacity: 0.9;
}
/*==============SECTION(INFO_TEXT)==============================================*/
.post h3{
    font-weight: bold;
    font-size: 25px;
    color: #000;
    margin: 20px 0 15px 0;
    min-width: 640px;
}
.post p{
    text-align: justify;
}
.post a span{
    color:  #3a90c3;
    position: relative;
    width: 120px;
    display: block;
}
.post a span::after{
    content: "";
    width: 20px;
    border: 2px solid #3a90c3;
    position: absolute;
    margin-left: 16px;
    margin-top: 7px;
}
.post a span::before{
    content: "";
    position: absolute;
    border: 2px solid #3a90c3;
    width: 8px;
    height: 8px;
    right: 23px;
    margin-top: 3px;
    transform: rotate(45deg);
    border-bottom-color: transparent;
    border-left-color: transparent;
}
/*====================FOOTER======================*/
.footer{
    width: 100%;
}
.footer_social{
    margin: 0 auto;
}
.icon-twitter-bird::before,
.icon-globe::before{
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 45px;
    border-radius: 50%;
    background: #D4D5D6;
    color: #fff;
    margin-right: 0;
    margin-left: 0;
}
a.cicrle:hover .icon-twitter-bird::before,
a.cicrle:hover .icon-globe::before{
    background: #7E7E7E;
    opacity: 0.7;
}
.footer_copy{
    width: 100%;
    background: #D5D7DB;
    padding: 40px 0;
}
.footer_copy p{
    font: 13px/20px "ff-dagny-web-pro-1","ff-dagny-web-pro-2",Helvetica,Arial,sans-serif;
    text-align: center;
    color: rgba(0,0,0,.5);
}